
<div class="login">
  <div class="container">
    <div class="mentor">
     <div class = "row"> 

  <div class="col-md-12">
    <h1 class="page-head-line">Students</h1>
    <h1 class="btn-primary">
<%= link_to "Add New Student", snew_path, :style => "color:white"%></h1>
    <hr>
  </div>
</div>
    <% @students.each do |s| %>
    <div class="chat-widget-left">
      
      <div class="row">
      <div><%= s.name%></div>
      <div class="btn btn-primary">
            <h5><%= link_to (s.mentors.size.to_s+" Mentors"), student_path(s), :style => "color:white"%></h5>
          </div>
        </div>
      <p><%= s.email%><p>
      <%= s.contact%>
    </div>
    <%= link_to "Add Mentors", smentor_path%>
    <% end %>  
    
    </div>
    <hr>
    <% (@max.to_i+1).times do |m| %>
      <%= link_to ((m+1).to_s+".. "), istudent_path(m+1)%>
    <%end%>
  </div>
</div>
</div>